.postList {
  padding-top: 4vh;
  height: 100vh;
}

.postList-title {
  color: white;
  text-align: center;
}

.postList-posts {
  width: 95%;
  height: 80vh;
  margin: 2vh auto;
  border: 1px solid red;
  display: flex;
}