.havenContainer {
  background-color: rgba(255, 255, 255, 0.4);
  width: 30%;
  height: 200px;
  border-radius: 30px;
  margin: 20px;
  transition: ease-in-out 0.3s;
}

.havenContainer:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.haven-text {
  width: 90%;
  margin: 10px auto;
}

.haven-title {
  font-size: 1.2em;
}

.haven-purpose {
  font-size: 1rem;
}

.haven-body {
  height: 40%;
}

.icon-container {
  display: flex;
}

.upVote-container {
  display: flex;
  margin-right: 30px;
  cursor: pointer;
}

.downVote-container {
  display: flex;
  cursor: pointer;
}