.specificPost{
  padding-top: 4vh;
  height: 100vh;
}

.specificPost-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  width: 60%;
  min-height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.specificPost-title {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 30px;
}

.specificPost-second-level-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.specificPost-icon-container {
  display: flex;
  justify-content: space-between;
}

.specificPost-purpose {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 4vh 0;
}

.specificPost-context-container {
  width: 90%;
  margin: 0 auto;
}

.specificPost-context-container h2 {
  font-weight: 400;
  font-size: 1.3rem;
}

.specificPost-context-container p {
  margin: 20px;
}