.specificPost{
  padding-top: 4vh;
  height: 100vh;
}

.specificPost-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  width: 60%;
  min-height: 90%;
  margin: auto;
}

.specificPost-info {
  filter: none;
}