.specificPost{
  padding-top: 4vh;
  height: 100vh;
}

.specificPost-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.specificPost-title {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 30px;
}

.specificPost-second-level-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.specificPost-icon-container {
  display: flex;
  justify-content: space-between;
}

.specificPost-purpose {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 4vh 0;
}

.specificPost-context-container {
  width: 90%;
  margin: 0 auto;
}

.specificPost-context-container h2 {
  font-weight: 400;
  font-size: 1.3rem;
}

.specificPost-context-container p {
  margin: 20px;
}

.add-comment-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
}

.add-comment-title {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px 0;
}

.add-comment-item {
  width: 90%;
  margin: 0 auto;
}

.add-comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.add-comment-form label {
  font-weight: 400;
  font-size: 1rem;
  margin: 5px 0;
}

.add-comment-form textarea {
  font-size: 0.8rem;
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
}