@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  background-color: rgba(129, 132, 140, 1);
}

.container {
  width: 95%;
  margin: auto;
}

/* Navbar */
.navbar {
  height: 4vh;
  position: absolute;
  width: 100%;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
  margin: auto;
}

.nav-logo {
  font-size: 1.7rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 10%;
  font-size: 1.2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
}