.haven-link {
  background-color: rgba(255, 255, 255, 0.4);
  width: 30%;
  height: 200px;
  border-radius: 30px;
  margin: 20px;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  color: black;
}

.haven-link:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.haven-text {
  width: 90%;
  margin: 10px auto;
}

.haven-title {
  font-size: 1.2em;
}

.haven-purpose {
  font-size: 1rem;
}

.haven-body {
  height: 90px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.upVote-container {
  display: flex;
  margin-right: 30px;
}

.downVote-container {
  display: flex;
  margin-right: 30px;
}

.commentCounter-container {
  display: flex;
  align-items: center;
}

.commentCounter {
  padding: 3px;
}